body{
    font-family: Arial, sans-serif;
}


nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}
.menu{
    float: left;
    padding-left: 432px;
}
.menu li{
   float: left;
     line-height: 60px;
     color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.title__container{
    box-shadow: 0px -21px 7px 0px rgb(0 0 0 / 18%) inset;
       text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-right: 28%;
    height: 1017px;
    background: url(../img/parenpng.png) 97% 100%/ auto no-repeat, url(../img/fon.jpg) 6px 0%, no-repeat;
}
h1{
       
    font-size: 79px;
    text-align: center;
    color: #223549;
    padding-top: 430px;
    font-weight: 700;
    
}
.title__container h4{
   
    text-align: center;
    padding-top: 49px;
    color: #76828e;
    font-size: 21px;
}
.title__container #obomne{
  margin-top: 60px;
    border: 2px solid #697784;
    color: #697784;
    font-size: 13px;
    text-align: center;
    width: 95px;
    height: 40px;
    border-radius: 5px;
    background: none;
    margin-right: 26px;
    
} 
.title__container #work{
    margin-top: 60px;
    border: 2px solid #697784;
    color: #697784;
    font-size: 13px;
    text-align: center;
    width: 127px;
    height: 40px;
    border-radius: 5px;
    background: none;
}
.oboMne__container{
    text-align: center;
    width: 100%;
    margin-top: 106px;
}

h2{
    font-size: 33px;
   text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color:#182c41;
    
}
h2:after{
   content: "";
    margin: 0 auto;
    background: #ea7700;
    display: block;
    width: 72px;
    margin-top: 31px;
    height: 4px;
}
.oboMne__container> img{
    margin-top: 96px;
    height: 165px;
}
.oboMne__text{
    color: #38475a;
    font-size: 17px;
    padding-top: 25px;
    text-align: left;
    line-height: 1.2;
    max-width: 733px;
    letter-spacing: -0.9px;
    margin: 0 auto;
    font-family: calibri;
    padding-bottom: 31px;
}
.oboMne{
    padding: 8px 10px;
    width: 158px;
    border: 2px solid #6f7180;
    margin: 0 auto;
    border-radius: 6px;
}
.oboMne img{
    
}
.oboMne a{
  color: #6f7180;
    font-size: 16px;
    letter-spacing: -0.9px;
    
}
.skill__container{
   height: 523px;
    background: url(../img/fonSkill.jpg) center no-repeat;
    margin-top: 99px;
    padding-top: 109px;
    margin-bottom: 195px;
}
.skill__tabl{
        display: flex;
    padding-top: 103px;
    max-width: 1181px;
    margin: 0 auto;
}
.skill__column{
    padding: 0 44px;
    text-align:center;
}
.skill__column img{
    margin-bottom: 35px;
}
.skill__text h4{
    font-size: 18px;
    font-weight: 900;
    color: #e87700;
    margin-bottom: 16px;
}
.skill__text p{
           font-family: Calibri, regular;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: -1.6px;
    color: #38475a;
}
.cases_container> p{
   font-family: Calibri, regular;
    font-size: 17px;
    line-height: 17px;
    color: #38475a;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 39px;
}
.cases_container img{
       margin: 0 auto;
    display: block;
    margin-bottom: 38px;
}
.cases__table{
        display: flex;
    width: 1168px;
    margin: 0 auto;
}
.cases__colum_one h4{
    font-size: 25px;
    font-weight: 600;
    color: #2f4154;
    padding-bottom: 16px;
    text-transform: uppercase;
}

.cases__colum_one> p{
    font-family: Calibri;
    font-size: 17px;
    padding-bottom: 11px;
    color: #38475a;
}
.cases__colum_one input{
        color: white;
    font-size: 21px;
    border-radius: 8px;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
    background: #00b6af;
    padding: 16px 0;
}
.bottom_site:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}
.bottom_site:hover{
    width:100%;
}
.cases__colum_two h5{
   color: #38475a;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 19px;
}
.cases__colum_two p{
    color: #38475a;
    font-family: calibri, regular;
    line-height: 20px;
    font-size: 21px;
    padding-right: 38px;
}

.calculator__container{
    padding-top: 203px;
    max-width: 887px;
    margin: 0 auto;
}
.calculator__container h2:after{
    display: none;
}
.calculator__container h2{
    margin-bottom: 56px;
}
.calculator__container h3{
    color: #102032;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    padding-bottom: 24px;
}

.calculator__container select{
    margin-bottom: 50px;
    height: 54px;
    width: 100%;
    color: #102032;
    padding-left: 20px;
    font-size: 17px;
    background-color: #efefef;
}

.calculator__rachet{
    border-top: 2px solid #d2d2d2;
    margin-top: -13px;
    padding-top: 27px;
    flex-wrap: wrap;
    display: flex;
}
.calculator__rachet h5{
    width: 50%;
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 18px;
    color: #102032;

}
.calculator__rachet p{
    width: 50%;
    text-align: right;
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 18px;
    color: #102032;

}

.statistica__container{
 background: url(../img/statisticfon.jpg) fixed center no-repeat;
    width: 100%;
    margin: 0 auto;
    margin-top: 132px;
    padding-top: 97px;
    height: 498px;
}
.statistica__tabl{
    margin: 0 auto;
    display: flex;
    max-width: 1182px;
    padding-top: 85px;
}
.statistica__column{
       width: 100%;
}
.statistica__column img{
    display: block;
    margin: 0 auto;
        padding-bottom: 35px;
}
.statistica__text{
    
}
.statistica__text h4{
    font-size: 37.5px;
    font-family: impact;
    text-align: center;
    margin-bottom: 22px;
    height: 36px;
    color: #293b4f;
}
.statistica__text p{
    font-size: 14px;
    color: #293b4f;
    font-weight: 700;
    text-align: center;
}

.review__container{
    margin-top: 105px;
}
.review__container img{
        padding-top: 58px;
    display: block;
    margin: 0 auto;
    padding-bottom: 33px;
}
.review__text {
        text-align: center;
    padding-bottom: 49px;
    margin: 0 auto;
    max-width: 690px;
}
.review__text p{
    font-size: 17px;
    font-family: calibri;
    line-height: 1.2;
    color: #172c41;
}
.review__slaid{

    padding-bottom: 91px;
    display: block;
  text-align: center;
    width: 100%;
}
.review__slaid_one{
   
       width: 10px;
    height: 10px;
    background-color: #e46500;
    border-radius: 50%;
    display: inline-block;
        margin: 3px;
}
.review__slaid_two{
    
       width: 10px;
    height: 10px;
    background-color: #cfd3d8;
    border-radius: 50%;
    display: inline-block;
       margin: 3px;
}
.review__slaid_three{
    
       width: 10px;
    height: 10px;
    background-color: #cfd3d8;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}
.contacts__container{
  background: url(../img/kontaktFon.jpg) center no-repeat;
    height: 810px;
    color: white;
    padding-top: 100px;
}
.contacts__container>p{
font-family: calibry;
    font-size: 17px;
    line-height: 1.2;
    padding-top: 31px;
    text-align: center;
}
.contacts__tabl{
display: flex;
    width: 806px;
    padding-top: 47px;
    text-align: center;
    max-height: 155px;
    margin: 0 auto;
}
.contacts__column{
margin: 0 64px;
    text-align: center;
    font-family: calibri;
    line-height: 1.2;
    max-width: 155px;
    font-size: 16.6px;
    padding-bottom: 39px;
}
.contacts__column img{
    padding-bottom: 17px;
    
}
.contacts__container h3{
        font-size: 21px;
    text-align: center;
    font-weight: 600;
    font-family: franklin gotic medium;
    margin-bottom: 27px;
}
.contacts__form{
    width: 768px;
    margin: 0 auto;
}
.contacts__form textarea{
    background: #d0d7dde3;
        padding: 13px 10px;
    height: 94px;
    width: 736px;
    margin-left: 15px;
}
#textName{
    background: #d0d7dde3;
        padding: 13px 10px;
       width: 352px;
    display: inline-block;
    height: 34px;
    margin: 15px;
}
#textEmail{
    background: #d0d7dde3;
        padding: 13px 10px;
       width: 352px;
    display: inline-block;
    height: 34px;
    margin: 15px;
}
#submit{
      margin: 0 auto;
    display: block;
    margin-top: 28px;
    font-weight: 700;
    font-size: 21px;
    font-family: Franklin Gotic Medium;
    color: #ffffff;
    background-color: #0000ff00;
    border-radius: 9px;
    border: 5px solid #f9fbff;
    padding: 15px 20px;
}
.contacts__icon{
 margin: 0 auto;
    text-align: center;
    margin-top: 45px;
}
.contacts__icon img{
   margin: 0px 25px;
}
footer{
    height: 98px;
    background: #2c3e51;
    color: #fff;
    padding-top: 41px;
    text-align: center;
}
footer p{
    font-family: Arial;
    font-size: 21px;
}


.preloader {
 position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #191717b8;
    z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 3s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #f31e1e;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
