@font-face {
	font-family: 'FranklinGot';
	src: url('../fonts/framd.eot');
	src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'calibri';
	src: url('../fonts/calibri.eot');
	src: local('☺'), url('../fonts/calibri.woff') format('woff'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bahnschrift';
	src: url('../fonts/Bahnschrift.eot');
	src: local('☺'), url('../fonts/Bahnschrift.woff') format('woff'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/Bahnschrift.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MYRIADPRO';
	src: url('../fonts/MYRIADPRO-REGULAR.eot');
	src: local('☺'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff'), url('../fonts/MYRIADPRO-REGULAR.ttf') format('truetype'), url('../fonts/MYRIADPRO-REGULAR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
    font-family: Arial, sans-serif;
}


nav{
    position: fixed;
    width: 100%;
    background: #344051;
    z-index: 5;
}

.logo{
    font-family: 'FranklinGot';
    color: #fff;
    font-size: 23px;
    line-height: 60px;
    -webkit-animation: comming 2s ease;
       -o-animation: comming 2s ease;
       animation: comming 2s ease; 
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
     
transform: skewY(50deg);
transform-origin: 100% -30%;
    
  }
}

@keyframes scalee {
    0% {
        transition: 1s;
    }
    100%{
        transform: scale(1.3);
    }
}


.menu a{
       transition: all 0.1s;
    color: white;
       display: inline-block;
    text-decoration: none;
font-family: 'FranklinGot', sans-serif;
    font-size: 17px;
    line-height: 60px;
    text-transform: uppercase;
 
}


.menu{
     -webkit-animation: topshing 0.4s ease forwards;
    -o-animation:topshing 0.4s ease forwards ;
    animation: topshing 0.4s ease forwards;
    opacity: 0;
}

@keyframes topshing {
    from{
        opacity: 0;
        margin-top:-80px;
    }
    to{
        opacity: 1;
        margin-top:0px;
    }
}
.menu a:visited{
    color:white;
}
.menu a:hover{
    color:#d17700 ;
}
.menu a:active{
    transform: scale(1.1);
    color:#d17700 ;
}
.menu>a:nth-child(3){
    animation-delay:0.4s;  
} 
.menu:nth-child(4){
    animation-delay:0.8s;  
}
.menu:nth-child(5){
    animation-delay:1.2s;  
}
.menu:nth-child(6){
    animation-delay:1.6s;  
}
.menu:nth-child(7){
    animation-delay:2s;  
}
.menu:nth-child(8){
    animation-delay:2.4s;  
}
@keyframes titlemove {
    from{
        opacity: 0;
        margin-top:-300px;
    }
    to{
        opacity: 1;
        margin-top:0px;
    }
}

.title__container{
        display: flex;
    flex-direction: column;
    box-shadow: 0px -21px 7px 0px rgb(0 0 0 / 18%) inset;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-right: 28%;
    height: 1017px;
    background: url(../img/parenpng.png) 100% 100% no-repeat, url(../img/fon.jpg) 0% 0%/cover no-repeat;
}
h1{
    font-family: 'franklinGot' ;  
    font-size: 79px !important;
    text-align: center;
    font-weight: 800;
    color: #223549;
    padding-top: 430px;
    font-weight: 700;
    
}
.title__container h4{
font-family: 'FranklinGot';
    text-align: center;
    padding-top: 30px;
    color: #76828e;
    font-size: 21px;
}
.title__button{
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
}
.title__button input{
    border: 2px solid #697784;
    color: #697784;
    font-size: 19px;
    text-align: center;
    font-family: 'FranklinGot';
    padding: 12px 14px;
    line-height: 0;
    height: 40px;
    border-radius: 5px;
    display: inline-block;
    background: none;
    margin: 15px;
}

.oboMne__container{
    text-align: center;
    width: 100%;
    margin-top: 106px;
}

h2{
    font-size: 33px !important;
    text-align: center;
    font-family: 'FranklinGot';
    font-weight: 700;
    text-transform: uppercase;
    color: #182c41;
    
}
h2:after{
   content: "";
    margin: 0 auto;
    background: #ea7700;
    display: block;
    width: 72px;
    margin-top: 31px;
    height: 4px;
}
.oboMne__container> img{
    margin-top: 96px;
    height: 165px;
}
.oboMne__text{
       color: #38475a;
    font-size: 17px;
    padding-top: 25px;
    text-align: left;
    line-height: 1.2;
    max-width: 750px;
    letter-spacing: -0.9px;
    margin: 0 auto;
    font-family: calibri;
    padding-bottom: 31px;
}
.oboMne{
    padding: 8px 10px;
    width: 158px;
    border: 2px solid #6f7180;
    margin: 0 auto;
    border-radius: 6px;
    
}

.oboMne__container> img{
     -webkit-animation:5s linear 0s normal none 5  rot;
       -o-animation:5s linear 0s normal none 5  rot;
       animation:5s linear 0s normal none 5  rot; 
   
}
.oboMne a{
  color: #6f7180;
    font-size: 16px;
    letter-spacing: -0.9px;
    text-decoration: none;
    
}

.oboMne:hover{
    transform:scale(1.2);
    color: white;
    background: #212529;
}
.oboMne a:hover{
    color: white;
  
}


.skill__container{
   height: 523px;
    background: url(../img/fonSkill.jpg) center no-repeat;
    margin-top: 99px;
    padding-top: 109px;
    margin-bottom: 195px;
}
.skill__tabl{
        display: flex;
    padding-top: 103px;
    max-width: 1181px;
    margin: 0 auto;
}
.skill__column{
    padding: 0 44px;
    text-align:center;
}
.skill__column img{
    margin-bottom: 35px;
     transform-style: preserve-3d;
    animation: spinner 5s linear infinite;
  
}
.skill__text h4{
    font-family: 'Bahnschrift';
    font-size: 18px;
    font-weight: 900;
    color: #e87700;
    margin-bottom: 16px;
}
.skill__text p{
           font-family: calibri, regular;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: -1.6px;
    color: #38475a;
}
.cases_container> p{
   font-family: calibri, regular;
    font-size: 17px;
    line-height: 17px;
    color: #38475a;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 39px;
}
.cases_container img{
       margin: 0 auto;
    display: block;
    margin-bottom: 38px;
}
.cases__table{
        display: flex;
    width: 1168px;
    margin: 0 auto;
}
.cases__colum_one{
    padding-right: 80px;
}
.cases__colum_one h4{
    font-family: 'FranklinGot';
    font-size: 21px;
    font-weight: 200;
    color: #2f4154;
 padding-bottom: 16px;
    text-transform: uppercase;
}

.cases__colum_one> p{
    font-family: 'calibri';
    font-size: 17px;
    padding-bottom: 11px;
    color: #38475a;
}
#cases__link{
    position: relative;
    text-decoration: none;
    font-family: 'MYRIADPRO';
        color: white;
    font-size: 21px;
    border-radius: 8px;
    margin-top: 15px;
    text-align: center;
    background: #00b6af;
    padding: 16px 30px;
  max-width: 212px;
}

.cases__colum_one a{
    text-decoration: none;
    font-family: 'MYRIADPRO';
        color: white;
    font-size: 21px;
   
}

#cases__link:before{
    content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgb(0 0 0 / 14%);
	border-radius: 5px;
	transition: all 2s ease; 
}
#cases__link:hover:before{
  width: 100%;      
}

.cases__colum_two h5{
        font-family: 'FranklinGot';
   color: #38475a;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 19px;
}
.cases__colum_two p{
    color: #38475a;
    font-family: 'calibri', 'regular';
    font-size: 21px;
   
}

.calculator__container{
    padding-top: 203px;
    max-width: 887px;
    margin: 0 auto;
}
.calculator__container h2:after{
    display: none;
}
.calculator__container h2{
    margin-bottom: 56px;
    font-family: 'FranklinGot';
}
.calculator__container h3{
    color: #102032;
    text-transform: uppercase;
    font-size: 29px;
    padding-bottom: 24px;
     font-family: 'FranklinGot';
}

.calculator__container select{
    font-family: 'FranklinGot';
    margin-bottom: 50px;
    height: 54px;
    width: 100%;
    color: #737373;
    padding-left: 20px;
    font-size: 17px;
    background-color: #efefef;
}

.calculator__rachet{
    border-top: 2px solid #d2d2d2;
    margin-top: -13px;
    padding-top: 27px;
    flex-wrap: wrap;
    display: flex;
}
.calculator__rachet h5{
       font-family: 'FranklinGot';
    width: 50%;
    font-size: 21px;
    padding-bottom: 18px;
    color: #102032;

}
.calculator__rachet p{
    width: 50%;
    text-align: right;
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 18px;
    color: #102032;

}
.calculator__button{
    position: relative;
    text-decoration: none;
    font-family: 'MYRIADPRO';
    color: white;
    font-size: 20px;
    border-radius: 8px;
   margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    background: #00b6af;
    padding: 16px 30px;
    max-width: 212px;
}
.calculator__container form{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.calculator__button:before{
    content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgb(0 0 0 / 14%);
	border-radius: 5px;
	transition: all 2s ease; 
}
.calculator__button:hover:before{
  width: 100%;      
}

.statistica__container{
background: url(../img/statisticfon.jpg) fixed center no-repeat;
    width: 100%;
    margin: 0 auto;
    margin-top: 132px;
    padding-top: 97px;
        height: 498px;
}
.statistica__tabl{
    margin: 0 auto;
    display: flex;
    max-width: 1182px;
    padding-top: 85px;
}
.statistica__column{
       width: 100%;
}
.statistica__column img{
     transform-style: preserve-3d;
    display: block;
    margin: 0 auto;
        padding-bottom: 35px;
     -webkit-animation: scalee 3s ease forwards;
    -o-animation: scalee 3s ease forwards;
    animation:scalee 3s ease forwards;  
}

.statistica__column img


.statistica__text{
    
}
.statistica__text h4{
    font-size: 37.5px;
    font-family: impact;
    text-align: center;
    margin-bottom: 22px;
    height: 36px;
    color: #293b4f;
}
.statistica__text p{
    font-size: 14px;
    color: #293b4f;
    font-weight: 700;
    text-align: center;
}

.review__container{
    margin-top: 105px;
}
.review__container img{
   
        padding-top: 58px;
    display: block;
    margin: 0 auto;
    padding-bottom: 33px;
}
.review__text {
        text-align: center;
    padding-bottom: 49px;
    margin: 0 auto;
    max-width: 690px;
}
.review__text p{
    font-size: 17px;
    font-family: calibri;
    line-height: 1.2;
    color: #172c41;
}
.review__slaid{

    padding-bottom: 91px;
    display: block;
  text-align: center;
    width: 100%;
}
.review__slaid_one{
   
       width: 10px;
    height: 10px;
    background-color: #e46500;
    border-radius: 50%;
    display: inline-block;
        margin: 3px;
}
.review__slaid_two{
    
       width: 10px;
    height: 10px;
    background-color: #cfd3d8;
    border-radius: 50%;
    display: inline-block;
       margin: 3px;
}
.review__slaid_three{
    
       width: 10px;
    height: 10px;
    background-color: #cfd3d8;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}
.contacts__container{
  background: url(../img/kontaktFon.jpg) center no-repeat;
    height: 810px;
    color: white;
    padding-top: 100px;
}
.contacts__container>p{
font-family: calibry;
    font-size: 17px;
    line-height: 1.2;
    padding-top: 31px;
    text-align: center;
}
.contacts__tabl{
display: flex;
    width: 806px;
    padding-top: 47px;
    text-align: center;
    
    margin: 0 auto;
}
.contacts__column{
margin: 0 64px;
    text-align: center;
    font-family: calibri;
    line-height: 1.2;
    max-width: 155px;
    font-size: 16.6px;
   
}
.contacts__column img{
    padding-bottom: 17px;
    
}
.contacts__container h2{
  color: #fff;
}
.contacts__container h3{
        font-size: 21px;
    text-align: center;
    
    font-family: 'FranklinGot';
    margin-bottom: 27px;
}
.contacts__form{
    max-width: 768px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
}
.contacts__form textarea{
    background: #d0d7dde3;
        padding: 13px 10px;
    height: 94px;
    width: 96%;
    margin-left: 15px;
}
.contacts_form-row{
    display: flex;
}
.contacts_form-colum{
    
}
#textName{
    background: #d0d7dde3;
        padding: 13px 10px;
       width: 100%;
    display: inline-block;
    height: 34px;
    margin: 15px;
}
#textEmail{
    background: #d0d7dde3;
        padding: 13px 10px;
     width: 100%;
    display: inline-block;
    height: 34px;
    margin: 15px;
}
#submit{
      margin: 0 auto;
    display: block;
    margin-top: 28px;
    font-weight: 700;
    font-size: 21px;
    font-family: Franklin Gotic Medium;
    color: #ffffff;
    background-color: #0000ff00;
    border-radius: 9px;
    border: 5px solid #f9fbff;
    padding: 15px 20px;
}
.contacts__icon{
    margin: 0 auto;
    max-width: 405px;
    display: flex;
    text-align: center;
    margin-top: 45px;
}
.contacts__icon img{
   margin: 0px 25px;
}
footer{
    height: 98px;
    background: #2c3e51;
    color: #fff;
    padding-top: 41px;
    text-align: center;
}
footer p{
    font-family: Arial;
    font-size: 21px;
}
}